
//
// VARIABLES
//

// Colors
// Three color scheme: blue, mustard, coral
$blue: #4183C4;
$dblue: #00004d;
$dteal: #003333;
$mustard: #AA8439;
$dmustard: #805C15;
$coral: #AA3939;
$dcoral: #801515;
$beige: #E0DCD4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$lucida: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$treb: "Trebuchet MS", Helvetica, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}